<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="vscode" />
    <package id="jdk8" />
    <package id="jre8" />
    <package id="jdk11" />
    <package id="python" />
    <package id="sublimetext3" />
    <package id="nodejs" />
    <package id="intellijidea-community" />
    <package id="eclipse" />
    <package id="git" />
    <package id="vmwareworkstation" />
</packages>